@using SRRSBakery.ViewModels
@model CategoryListViewModel
<html>
<body backGound style="background-color:#EECFD4">
    
 
   <h1 class="text-center">Welcome To SRRS Bakery</h1>
   <br/>
   <div class="row">
        
        @foreach (var category in Model.category)
        {  
           <div class="col-sm-4 col-lg-4 col-md-4">
               <div class="thumbnail">
                   <a asp-controller="Item" asp-action="List" asp-route-id="@category.CategoryId"><img class="rounded-circle mx-auto d-block" src="@category.ImgUrl" style="border-radius:50%" alt="" width="200" height="200"></a>
                   <a class="text-center" asp-controller="Item" asp-action="List" asp-route-id="@category.CategoryId"><p class="text-black">@category.CategoryName</p></a>
               </div>
           </div>
        }
   </div> 
   @if (Context.User.Identity.Name=="admin@gmail.com")
    {
        <a asp-controller="Category" asp-action="ModifyCategory">Modify Category</a><br/>
        <a asp-controller="Item" asp-action="Create">Add Item</a>
    }

</body>
</html>