




<html>
<head>
<style>
* {
  box-sizing: border-box;
  width:30%;
 
  

}
body{
    background-color:#f9eae1;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>s
</head>
<body>
 
    <h1>hwllo</h1>
    
@foreach (var category in Model.category)
{
    <span>
        <img src=@category.ImgUrl>
       <a asp-controller="Item"  asp-action="ListCupCakes"> <p>@category.CategoryName</p></a>
    </span>
}


</body>
</html>