
<div class="thumbnail">
    <img class="rounded mx-auto d-block" alt="Work In Progress" src="~/images/stockout.webp" width="400" height="400">
</div>
<table>
    <tr><td><h4>Check Out Our Other Delicious Items</h4></td></tr>
    <tr><td><button class="rounded"><a href="#" onclick="history.go(-1);">Try it Out</a></button></td></tr>
    <tr><td><button class="rounded"><a asp-controller="Category" asp-action="ListCategory">Home</a></button></td></tr>
</table>
